################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/PTHttpServer
/PTHttpServer/x64/Debug
/x64/Debug
